{
    "openapi": "3.0.1",
    "info": {
        "title": "trial-generative",
        "description": "trial-generative",
        "version": "latest",
        "x-ibm-skill-type": "imported",
        "x-ibm-annotations": "true",
        "x-ibm-comm-timeouts": {
            "connectTimeout": 10000,
            "responseTimeout": 30000
        },
        "x-ibm-skill-subtype": "wo-identity",
        "x-ibm-application-id": "uab8a3bcbe9ef7b2fbcfff29ec7863fc0ee",
        "x-ibm-ads-decision-id": "uab/trial/trial/trialDecisionService/v1_11-2025-04-22T06:58:20.764Z",
        "x-ibm-application-icon": "<svg focusable=\"false\" preserveAspectRatio=\"xMidYMid meet\" xmlns=\"http://www.w3.org/2000/svg\" fill=\"currentColor\" viewBox=\"0 0 32 32\" aria-hidden=\"true\"><path d=\"M11 24H21V26H11zM13 28H19V30H13zM23.04 16a9.4858 9.4858 0 01-1.8623 2.1426C20.1069 19.1348 19 20.1611 19 22h2c0-.9194.5264-1.45 1.5352-2.3857A9.9838 9.9838 0 0025.2756 16zM20 14a1 1 0 01-.8945-.5527L17.3818 10H14V8h4a1 1 0 01.8945.5527L20 10.7639l3.1055-6.2112a1.0416 1.0416 0 011.789 0L26.6182 8H30v2H26a1 1 0 01-.8945-.5527L24 7.2361l-3.1055 6.2112A1 1 0 0120 14z\"></path><path d=\"M10.8145,18.1406A7.1851,7.1851,0,0,1,8,12a8.0092,8.0092,0,0,1,8-8V2A10.0111,10.0111,0,0,0,6,12a9.1793,9.1793,0,0,0,3.46,7.6162C10.4717,20.5508,11,21.0815,11,22h2C13,20.16,11.8892,19.1338,10.8145,18.1406Z\"></path></svg>",
        "x-ibm-application-name": "trial",
        "x-ibm-ads-decision-service-id": "trial/trial",
        "x-ibm-ads-decision-service-name": "trial"
    },
    "servers": [
        {
            "url": "https://api.dl.watson-orchestrate.ibm.com:443/instances/20250212-1521-3150-30c9-e789cad9cae1/v1/skills/_personal_/trial-generative__latest__add_1"
        }
    ],
    "security": [
        {
            "IBM-WO-JWT": []
        }
    ],
    "tags": [
        {
            "name": "uab-genai"
        }
    ],
    "paths": {
        "/prompts/add_1/generation/text": {
            "post": {
                "tags": [
                    "trial/trial"
                ],
                "summary": "add_1",
                "description": "Execute add_1",
                "operationId": "add_1",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "n1": {
                                        "type": "string"
                                    },
                                    "n2": {
                                        "type": "string"
                                    },
                                    "output1": {
                                        "type": "string"
                                    }
                                },
                                "x-ibm-parameter-wrapper": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Decision execution success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error_code": {
                                            "type": "string"
                                        },
                                        "stop_reason": {
                                            "type": "string"
                                        },
                                        "error_message": {
                                            "type": "string"
                                        },
                                        "generated_text": {
                                            "type": "string"
                                        },
                                        "input_token_count": {
                                            "type": "integer",
                                            "format": "int32"
                                        },
                                        "generated_token_count": {
                                            "type": "integer",
                                            "format": "int32"
                                        }
                                    },
                                    "nullable": true,
                                    "x-ibm-parameter-wrapper": true
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A decision or decision operation was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "output": {
                                            "type": "object",
                                            "description": "The output of the service archive.",
                                            "nullable": true
                                        },
                                        "incident": {
                                            "type": "object",
                                            "properties": {
                                                "incidentId": {
                                                    "type": "string",
                                                    "description": "A unique identifier for the incident"
                                                },
                                                "stackTrace": {
                                                    "type": "string",
                                                    "description": "An associated stack trace, if the runtime is configured to provide it. By default, the stack trace is null"
                                                },
                                                "incidentCategory": {
                                                    "type": "string",
                                                    "description": "The category of the incident, for instance \"Operation not found\""
                                                }
                                            },
                                            "description": "The description of the failure"
                                        }
                                    },
                                    "description": "The response when an error occurs"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "A runtime exception occurred while executing a decision",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "output": {
                                            "type": "object",
                                            "description": "The output of the service archive.",
                                            "nullable": true
                                        },
                                        "incident": {
                                            "type": "object",
                                            "properties": {
                                                "incidentId": {
                                                    "type": "string",
                                                    "description": "A unique identifier for the incident"
                                                },
                                                "stackTrace": {
                                                    "type": "string",
                                                    "description": "An associated stack trace, if the runtime is configured to provide it. By default, the stack trace is null"
                                                },
                                                "incidentCategory": {
                                                    "type": "string",
                                                    "description": "The category of the incident, for instance \"Operation not found\""
                                                }
                                            },
                                            "description": "The description of the failure"
                                        }
                                    },
                                    "description": "The response when an error occurs"
                                }
                            }
                        }
                    }
                },
                "x-ibm-next-actions": [],
                "x-ibm-nl-intent-examples": [
                    "add_1",
                    "Execute add_1"
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "Incident": {
                "type": "object",
                "properties": {
                    "incidentId": {
                        "type": "string",
                        "description": "A unique identifier for the incident"
                    },
                    "stackTrace": {
                        "type": "string",
                        "description": "An associated stack trace, if the runtime is configured to provide it. By default, the stack trace is null"
                    },
                    "incidentCategory": {
                        "type": "string",
                        "description": "The category of the incident, for instance \"Operation not found\""
                    }
                },
                "description": "The description of the failure"
            },
            "t1_input": {
                "type": "object",
                "properties": {
                    "topic": {
                        "type": "string"
                    }
                },
                "x-ibm-parameter-wrapper": true
            },
            "BaseError": {
                "type": "object",
                "properties": {
                    "output": {
                        "type": "object",
                        "description": "The output of the service archive.",
                        "nullable": true
                    },
                    "incident": {
                        "type": "object",
                        "properties": {
                            "incidentId": {
                                "type": "string",
                                "description": "A unique identifier for the incident"
                            },
                            "stackTrace": {
                                "type": "string",
                                "description": "An associated stack trace, if the runtime is configured to provide it. By default, the stack trace is null"
                            },
                            "incidentCategory": {
                                "type": "string",
                                "description": "The category of the incident, for instance \"Operation not found\""
                            }
                        },
                        "description": "The description of the failure"
                    }
                },
                "description": "The response when an error occurs"
            },
            "t1_output": {
                "type": "object",
                "properties": {
                    "error_code": {
                        "type": "string"
                    },
                    "stop_reason": {
                        "type": "string"
                    },
                    "error_message": {
                        "type": "string"
                    },
                    "generated_text": {
                        "type": "string"
                    },
                    "input_token_count": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "generated_token_count": {
                        "type": "integer",
                        "format": "int32"
                    }
                },
                "nullable": true,
                "x-ibm-parameter-wrapper": true
            },
            "add__1_input": {
                "type": "object",
                "properties": {
                    "n1": {
                        "type": "string"
                    },
                    "n2": {
                        "type": "string"
                    },
                    "output1": {
                        "type": "string"
                    }
                },
                "x-ibm-parameter-wrapper": true
            },
            "add__2_input": {
                "type": "object",
                "properties": {
                    "n3": {
                        "type": "string"
                    }
                },
                "x-ibm-parameter-wrapper": true
            },
            "add__1_output": {
                "type": "object",
                "properties": {
                    "error_code": {
                        "type": "string"
                    },
                    "stop_reason": {
                        "type": "string"
                    },
                    "error_message": {
                        "type": "string"
                    },
                    "generated_text": {
                        "type": "string"
                    },
                    "input_token_count": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "generated_token_count": {
                        "type": "integer",
                        "format": "int32"
                    }
                },
                "nullable": true,
                "x-ibm-parameter-wrapper": true
            },
            "add__2_output": {
                "type": "object",
                "properties": {
                    "error_code": {
                        "type": "string"
                    },
                    "stop_reason": {
                        "type": "string"
                    },
                    "error_message": {
                        "type": "string"
                    },
                    "generated_text": {
                        "type": "string"
                    },
                    "input_token_count": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "generated_token_count": {
                        "type": "integer",
                        "format": "int32"
                    }
                },
                "nullable": true,
                "x-ibm-parameter-wrapper": true
            }
        },
        "securitySchemes": {
            "IBM-WO-JWT": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "IBM-Watsonx-Orchestrate-JWT"
            }
        }
    }
}